<!-- Footer -->
<section style="background: #161618; color: #ffffff;" id="f">
    <div class="container">
        <br>
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>USEFUL LINKS</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/tshirt" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>Camera</a></li>
                    <li><a href="/belt" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>Lens</a></li>
                    <li><a href="/shoes" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>Used Lens</a></li>
                    <li><a href="/wallet" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>Accessories</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>CONNECT</h5>
                <ul class="list-unstyled quick-links">
                    <a href="/register"><img src="/static/image/infocus.png" width="150px" height="150px"></a>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>OURSELF</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/aboutus" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>About</a>
                    </li>
                    <li><a href="/faq" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="https://www.smartdesert.org/" style="color: #ffffff; text-decoration: none;"><i
                                class="fa fa-angle-double-right"></i>Developed
                            by Smart Desert</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="https://www.youtube.com/mohsingram" target=""
                        style="color: #ffffff; text-decoration: none;">IN FOCUS</a>
                    &copy All
                    right Reversed. 2021</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->