{% extends 'layout.html' %}
{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;">
  <div style="    background: url(/static/image/aboutus.jpeg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;">
    <div style="  width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 125px;">
      <h1 style="    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;">About Us</h1>
      <p style="    font-size: 15px;
    color: #000000;
    line-height: 30px;
    text-align: justify;">
        Welcome to "IN FOCUS", your number one source for all variety of cameras. We're dedicated to giving you the very
        best of cameras, with the focus on your needs. "IN FOCUS" has come a long way from its begining in a home
        office.
        When "IN FOCUS" started out, our passion for capturing all the moments in one camera drove us to do intense
        research and gave us the impetus to turn hard work and inspiration into a booming online store. We now serve
        customers all over India, and are thrilled to be a part of the quirky wing of the cameras industry. We hope you
        enjoy our products as much as we enjoy offering them to you.
      </p>
      <div style="display: flex;
    justify-content: space-between;
    font-weight: 700;">
        <span>Capture</span>
        <span>Live Every Moment</span>
        <span>Connect</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}